
# Ignore node_modules directorycd 
node_modules/

# Ignore log file
slowquery-log/*
digest/*



# Ignore build output
dist/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for yarn
yarn.lock

# Ignore .env file
.env